.deps
.libs
.dirstamp
*.in
*.la
*.lo
*.o
*.swp
Makefile
/lib/stamp-h1

/libnl-1.pc
/doc/Doxyfile
/lib/defs.h
cscope.*

/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/libtool
/ltmain.sh
/install-sh
/missing

/*.pc
