.deps
.libs
.dirstamp
*.la
*.lo
*.o
*.swp
*.patch
Makefile
Makefile.in
defs.h.in
defs.h.in~
cscope.*
test-suite.log

/*.pc
/aclocal.m4
/autom4te.cache
/build-aux/
/config.*
/configure
/doc/*.html
/doc/Doxyfile
/doc/aclocal.m4
/doc/api/*.css
/doc/api/*.html
/doc/api/*.js
/doc/api/*.map
/doc/api/*.md5
/doc/api/*.png
/doc/api/*.tag
/doc/api/formula.repository
/doc/api/jquery.js
/doc/asciidoc.tmp
/doc/autom4te.cache/
/doc/build-aux/
/doc/config.*
/doc/configure
/doc/images/*.odg
/doc/images/asciidoc__*.png
/doc/images/core__*
/doc/libnl.dict
/include/netlink/version.h
/lib/defs.h
/lib/lex.yy.c
/lib/libnl-*.so*
/lib/libnl.so*
/lib/route/cls/ematch_grammar.[ch]
/lib/route/cls/ematch_syntax.[ch]
/lib/route/pktloc_grammar.c
/lib/route/pktloc_grammar.h
/lib/route/pktloc_syntax.c
/lib/route/pktloc_syntax.h
/lib/stamp-h1
/libnl-1.pc
/libtool
/m4/libtool.m4
/m4/lt*.m4
/python/build
/python/capi.py
/python/capi_wrap.c
/python/setup.py
/src/genl-ctrl-list
/src/idiag-socket-details
/src/nf-ct-add
/src/nf-ct-events
/src/nf-ct-list
/src/nf-exp-add
/src/nf-exp-delete
/src/nf-exp-list
/src/nf-log
/src/nf-monitor
/src/nf-queue
/src/nl-addr-add
/src/nl-addr-delete
/src/nl-addr-list
/src/nl-class-add
/src/nl-class-delete
/src/nl-class-list
/src/nl-classid-lookup
/src/nl-cls-add
/src/nl-cls-delete
/src/nl-cls-list
/src/nl-fib-lookup
/src/nl-link-enslave
/src/nl-link-ifindex2name
/src/nl-link-list
/src/nl-link-name2ifindex
/src/nl-link-release
/src/nl-link-set
/src/nl-link-stats
/src/nl-list-caches
/src/nl-list-sockets
/src/nl-monitor
/src/nl-neigh-add
/src/nl-neigh-delete
/src/nl-neigh-list
/src/nl-neightbl-list
/src/nl-pktloc-lookup
/src/nl-qdisc-add
/src/nl-qdisc-delete
/src/nl-qdisc-list
/src/nl-route-add
/src/nl-route-delete
/src/nl-route-get
/src/nl-route-list
/src/nl-rule-list
/src/nl-tctree-list
/src/nl-util-addr
/tags
/tests/check-all
/tests/check-all.log
/tests/check-all.trs
/tests/check-direct
/tests/check-direct.log
/tests/check-direct.trs
/tests/test-*.log
/tests/test-*.trs
/tests/test-cache-mngr
/tests/test-complex-HTB-with-hash-filters
/tests/test-create-bond
/tests/test-create-bridge
/tests/test-create-geneve
/tests/test-create-ifb
/tests/test-create-ip6tnl
/tests/test-create-ipgre
/tests/test-create-ipgretap
/tests/test-create-ipip
/tests/test-create-ipvlan
/tests/test-create-ipvti
/tests/test-create-macsec
/tests/test-create-macvlan
/tests/test-create-macvtap
/tests/test-create-sit
/tests/test-create-veth
/tests/test-create-vlan
/tests/test-create-vrf
/tests/test-create-vxlan
/tests/test-create-xfrmi
/tests/test-delete-link
/tests/test-genl
/tests/test-loopback-up-down
/tests/test-nf-cache-mngr
/tests/test-socket-creation
/tests/test-suite.log
/tests/test-u32-filter-with-actions
